
/*---------- Body index ----------*/
#fondo {
    background: url(../resources/img/fondo.gif) no-repeat;
    -webkit-background-clip: text;
    text-align: center;
    background-size: 100vw 100vh;
    display: flex;
    flex-wrap: wrap;
}

#password {
    content: '';
    background: linear-gradient(#542551 50%,white 50%) no-repeat;
    -webkit-background-clip: text;
    text-align: center;
    background-size: 100vw 100vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#password:before {
    content: '';
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#3A3737, #3A3737);
    opacity: 0.7;
    z-index: -1;
}

#fondo #index {
    text-align: center;
    color: #fff3cd;
    display: inline-block; !important;
    align-items: center;
    margin-top: 20%;
    padding: 0;
    background: rgba(0,0,0,0.60);
    background-size: 1368px;
}

#fondo #index .container{
    height: 200px;
    background-size: 1368px;
    display: inline-block; !important;
    align-items: center;
}

#fondo #index .container h1{
    font-size: 4rem;
    margin: 0;
    padding: 0;
    font-family: Poppins-Bold,sans-serif;
}

#fondo #index .container h3{
    font-family: Poppins-Bold,sans-serif;
}

/*---------- Botón index ----------*/
.btn-continue {
    color: #f8f9fa;
    border-color: #f8f9fa;
    background: none;
}

.btn-continue.ui-state-hover {
    color: black;
    background: white;
}

#head {
    text-align: center;
    font-family: 'Calibri',sans-serif;
    background-size: 100vw 100vh;
    color: #fff3cd;!important;
}

/*---------- Navbar ----------*/
.navbar {
    background: #542551;
    background-size: 100vw;
}

/*---------- Botones navbar ----------*/
#btn-registro {
    height: 33px;
    width: 100px;
    text-align: center;
    display: block;
    font-size: 14px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: none;
    border-color: white
}

#btn-login {
    height: 33px;
    width: 100px;
    text-align: center;
    display: block;
    font-size: 14px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: none;
    border-color: white;
}

#btn-registro:hover {
    background: white;
    color: #542551;
}

#btn-login:hover {
    background: white;
    color: #542551;
}

.ui-carousel-next .ui-link .ui-state-disabled {
    visibility: hidden !important;
    border: none !important;
    background: none !important;
}
.ui-carousel-prev-icon {
    visibility: hidden !important;
    border: none !important;
    background: none !important;
}

.ui-carousel-next-icon {
    visibility: hidden !important;
    border: none !important;
    background: none !important;
}

.ui-link {
    visibility: hidden !important;
    border: none !important;
    background: none !important;
}

/*---------- Body ----------*/
body #header {
    background: #63215f;
    height: 53px;
    text-align: center;
}



body #header #head {
    background: #63215f;!important
    width: 100%;
    height: 100%;
    text-align: center;
}

body #header #head h1 {
    color: white;
    text-align: center;
}

/*---------- Body registro y login ----------*/
#registro{
    margin: 0;
    padding: 0;
    font-family: "Calibri Light",sans-serif !important;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #FBFCFC !important;
}

/*---------- División de registro y login ----------*/
#aside,#main {
    width: 50%;
    align-items: center;
}

#aside {
    background: #542551;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#aside #img-registro {
    width: 20%;
    height: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 180px !important;
}

#aside #text-registro {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#aside #text-registro h1{
    margin: 0;
    width: 90%;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}

#aside #text-registro h5{
    margin: 0;
    width: 90%;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}

#main {
    background: #FBFCFC!important;
    min-height: 100vh;
    background-size: 50vw 100vh;
}

#main #card-registro {
    min-height: 100vh;
    text-align: left;
    background-size: 100vw 100vh;
    width: 100%;
}

#main #card-login {
    min-height: 100vh;
    text-align: left;
    background-size: 100vw 100vh;
    width: 100%;
}

#img-products{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/*---------- Slider 3d registro de productos ----------*/
.slider {
    margin-left: 10px;
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 40s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(300px);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
    border-radius: 5px;
}

.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}

/*---------- Container de publicidad general ----------*/
#publicidad {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 1000px;
    height: 250px;
}

#publicidad img {
    max-width: 100%;
    width: 1000px;
    height: 250px;
}

#publicidad .container-all {
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 1px;
    overflow: hidden;
}

#publicidad .container-all .slide {
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 400ms;
    animation-name: autoplay;
    animation-duration: 60s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
}

#publicidad .container-all .slide .item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

@keyframes autoplay {

    20%{
        transform: translate3d(calc(-100%*0),0,0);
    }

    40%{
        transform: translate3d(calc(-100%*1),0,0);
    }

    60%{
        transform: translate3d(calc(-100%*2),0,0);
    }

    80%{
        transform: translate3d(calc(-100%*3),0,0);
    }

    100%{
        transform: translate3d(calc(-100%*4),0,0);
    }
}

/*---------- Carousel general ----------*/
#card-carousel-products {
    width: 200px;
    height: 350px;
    border: none;
    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
}

#card-carousel-products:hover {
    background: #D5D8DC;
}

.et-l .et-l--footer {
    background: #6f42c1;
}

#detal-product {
    width: 100%;
    min-height: 100%;
    margin-top: 5%;
}

#detal-producto {
    width: 100%;
    margin-top: 3%;
}

.ui-galleria-items {
    width: 100%;
}

body .ui-button {
    background: #542551 !important;
    border: 1px solid #542551 !important;
}


body .ui-galleria.ui-galleria-indicator-onitem .ui-galleria-indicators {
    background: rgba(213, 216, 220, 0.5) !important;
}

body .ui-galleria.ui-galleria-indicator-onitem .ui-galleria-indicators .ui-galleria-indicator.ui-state-highlight button {
    background: #B6B9BC;
    color: #495057;
}

body .ui-button.ui-button-secondary.ui-button-flat, body .ui-splitbutton.ui-button-secondary > .ui-button.ui-button-flat{
    background-color: transparent !important;
    color: #607D8B;
    border-color: transparent !important;
}

body .ui-button.ui-button-success, body .ui-splitbutton.ui-button-success > .ui-button {
    background: transparent !important;
    color: #ffffff !important;
    border: 1px solid white !important;
}

body .ui-button.ui-button-success:hover {
    background: white !important;
    color: #542551 !important;
}

body .ui-rating .ui-rating-star-on a{
    color: #ffc107 !important;
}

body .ui-progressbar .ui-progressbar-value{
    background: #542551 !important;
}

body .ui-button {
    background: #542551 !important;
    border: 1px solid #542551 !important;
}
body .ui-button {
    background: #2196F3;
    color: #ffffff;
    border: 1px solid #2196F3;
    margin: 0;
    outline: 0 none;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
body .ui-widget {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    text-decoration: none;
}

.ui-spinner-button {
    width: 25px !important;
}

body .ui-spinner .ui-spinner-input{
    height: 33px !important;
}

body .ui-button.ui-button-danger, body .ui-splitbutton.ui-button-danger > .ui-button {
    background: #D32F2F !important;
    color: #ffffff;
    border: 1px solid #D32F2F !important;
}

body .ui-button.ui-button-text-icon-left .ui-icon{
    margin-left: 30px !important;
}

body .ui-fileupload .ui-fileupload-buttonbar .ui-button.ui-fileupload-choose .ui-icon{
    visibility: hidden !important;
}

body .ui-fileupload .ui-fileupload-buttonbar .ui-button{
    height: 35px !important;
    margin: 2.5%!important;
}

body .ui-dataview .ui-dataview-header {
    visibility: hidden !important;
}

body .ui-dataview .ui-dataview-content {
    margin-top: -5%;
}

body .ui-fileupload .ui-fileupload-buttonbar{
    padding: 0!important;
}

body .ui-fileupload .ui-fileupload-content{
    padding: 0.5rem !important;
}

body .ui-datatable thead th{
    background: none!important;
    border: none!important;
    color: #542551 !important;
}

.dropdown-toggle{
    color: transparent!important;
}

.dropdown-toggle a:hover{
    color: transparent !important;
}

#products-catalogo:hover {
    background: #D5D8DC;
}

#products .ui-g {
    margin-left: 8%;
}

#card-recuperar-password:after {
    position: absolute;
    top:0;
    left: 0;
    content: ' ';
    background-image: linear-gradient(to right top,#1f1658,#4f2a7a,#81409b,#b556bb,#ed6dd8);
    width: 100%;
    height: 100%;
    filter:blur(13px);
    z-index:-1;
}

/*---------- Media Screen ----------*/
@media screen and(min-width: 900px){
    #registro{
        flex-direction: column;
    }

    #main,#aside {
        width: 100%;
        height: 50vh;
        justify-content: center;
    }
}